// Değişkenleri ve reset'i içe aktar
@import 'variables';
@import 'reset';

// Global stiller
body {
    background: $gray-light;
    padding: 40px;
}

h1 {
    margin-bottom: 30px;
    color: #333;
}